{% extends 'base.html.twig' %}

{% block title %}Hello PublisherController!{% endblock %}

{% block body_class %}
    adminBody
{% endblock %}

{% block nav %}
    {% include('partials/nav.html.twig') with {
        'admin' : true,
        'admin_img' : asset('build/images/adminplay.png'),
    } %}
{% endblock %}
{% block body %}
    <div class="admin col-12 col-md-9">
        <div class="admin-header">
            <h1 class="">Creation d'un jeu</h1>
            <a href="{{ path('admin_user') }}">Retour à la Liste</a>
        </div>
        <div>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-1 col-md-6">
                    {{ form_row(form.username) }}
                </div>
                <div class="col-1 col-md-6">
                    {{ form_row(form.email) }}
                </div>
            </div>

            {{ form_rest(form) }}
            <div class="flex-btn">
                <a href="{{ path('admin_game') }}" class="cancel-form">Annuler</a>
                <input type="submit" name="" id="" value="Valider" class="validate-form">
            </div>
            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            {{ form_end(form) }}
            {% if  app.request.get('_route') == 'admin_modify_user' %}
                {{ form_start(formAddGame) }}

                {{ form_rest(formAddGame) }}
                <div class="flex-btn">
                    <a href="{{ path('admin_game') }}" class="cancel-form">Annuler</a>
                    <input type="submit" name="" id="" value="Valider" class="validate-form">
                </div>
                {% for message in app.flashes('successGame') %}
                    <div class="flash-notice">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
                {{ form_end(formAddGame) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

