{% extends 'base.html.twig' %}

{% block title %}Hello userController!{% endblock %}

{% block body_class %}
    adminBody
{% endblock %}


{% block nav %}
    {% include('partials/nav.html.twig') with {
        'admin' : true,
        'admin_img' : asset('build/images/adminplay.png'),
    } %}
{% endblock %}
{% block body %}
    <div class="admin col-12 col-md-9">
        <div class="admin-header">
            <h1 class="">Liste de joueur</h1>
            <a href="{{ path('admin_add_user') }}">Ajouter un joueur</a>
        </div>
        {% embed ('partials/admin-table.html.twig') %}
            {% block table_header %}
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            {% endblock %}
            {% block table_body %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><a href="{{ path('user', {'id': user.id}) }}"><img src="{{ asset('build/images/showbtn.png') }}" alt=""></a>
                            <a href="{{ path('admin_modify_user', {'id': user.id}) }}"><img src="{{ asset('build/images/modifybtn.png') }}" alt=""></a></td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
