{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <div class="game-card-container row">
            {% for genreGame in genreEntity.games %}
                <div class="game-card col-md-4">
                    <div class="game-card-img">
                        <img src="{{ genreGame.coverimageUrl }}" alt="">
                    </div>
                    <div class="game-card-info">
                        <p>Nom du Jeu : {{ genreGame.name }}</p>
                        <p>Prix du Jeu : {{ genreGame.price }}€</p>
                        <p>Editeur du jeu : {{ genreGame.publisher.name }}</p>
                        <p>Date de sortie du Jeu : {{ genreGame.publishedAt | date ('d/m/Y') }}</p>
                        <a href="{{ path('game', {'id': genreGame.id}) }}">Voir Plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

