{% extends 'base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}
    <div class="game col-12 col-md-9">
        {% for genre in genres %}
            <div class="genre">
                <p>{{ genre.name }}</p>
            </div>
            <div class="container my-5">
                <div class="game-card-container row">
                    {% for genreGame in genre.games %}
                        <div class="game-card m-3 col-md-4">
                            <div class="game-card-img">
                                <img src="{{ genreGame.coverimageUrl }}" alt="">
                            </div>
                            <div class="game-card-info">
                                <p>Nom du Jeu : {{ genreGame.name }}</p>
                                <p>Prix du Jeu : {{ genreGame.price }}€</p>
                                <p>Editeur du jeu : {{ genreGame.publisher.name }}</p>
                                <p>Date de sortie du Jeu : {{ genreGame.publishedAt | date ('d/m/Y') }}</p>
                                <a href="{{ path('game', {'id': genreGame.id}) }}">Voir Plus</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
