
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        {% block table_header %}
        {% endblock %}
        </thead>
        <tbody>
        {% block table_body %}
        {% endblock %}
        </tbody>
    </table>
</div>
