<div class="my-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('games') }}">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Publishers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('users') }}">Users</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Genres
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('genre', {'id': '1'}) }}">Fps</a></li>
                            <li><a class="dropdown-item" href="{{ path('genre', {'id': '2'}) }}">Mmorpg</a></li>
                            <li><a class="dropdown-item" href="{{ path('genre', {'id': '4'}) }}">Simulation</a></li>
                            <li><a class="dropdown-item" href="{{ path('genre', {'id': '3'}) }}">Moba</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>