<div class="side-nav col-3">
    <div class="side-nav-logo">
        <img src="{{ admin ? admin_img : asset('build/images/Vector.png') }}" alt="">
    </div>
    <div class="side-nav-links">
        <ul>
            <a href="{{ admin ? path('admin_user') : path('users') }}">
                <li class="{{ app.request.get('_route') == 'users' ? 'active-link' }}">Liste des joueurs</li>
            </a>
            <a href="{{ admin ? path('admin_game') : path('games') }}">
                <li class="{{ app.request.get('_route') == 'games' ? 'active-link' }}">Liste des jeux</li>
            </a>
            <a href="{{ admin ? path('admin_genre') :path('genres') }}">
                <li class="{{ app.request.get('_route') == 'genres' ? 'active-link' }}">Liste des genres</li>
            </a>
            <a href="{{ admin ? path('admin_publishers') : '#' }} ">
                <li class="{{ app.request.get('_route') == 'publishers' ? 'active-link' }}">Liste des éditeurs</li>
            </a>
            <a href="{{ admin ? path('games') : path('admin_game') }}">
                <li class="{{ admin ? 'user-panel' : 'admin-panel' }}">{{ admin ? 'Retourner sur le panel utilisateur' : 'Aller sur le panel Admin' }}</li>
            </a>
        </ul>
    </div>
</div>