{% extends 'base.html.twig' %}

{% block title %}Hello PublisherController!{% endblock %}

{% block body_class %}
    adminBody
{% endblock %}

{% block nav %}
    {% include('partials/nav.html.twig') with {
        'admin' : true,
        'admin_img' : asset('build/images/adminplay.png'),
    } %}
{% endblock %}
{% block body %}
    <div class="admin col-12 col-md-9">
        <div class="admin-header">
            <h1 class="">Creation d'un genre</h1>
            <a href="{{ path('admin_genre') }}">Retour à la Liste</a>
        </div>
        <div>
            {{ form_start(form) }}

            {{ form_rest(form) }}
            <div class="flex-btn">
                <a href="{{ path('admin_game') }}" class="cancel-form">Annuler</a>
                <input type="submit" name="" id="" value="Valider" class="validate-form">
            </div>
            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

