{% extends 'base.html.twig' %}

{% block body %}
    <div class="game col-12 col-md-9">
        <div class="game-banner-img">
            <img src="{{ gameEntity.coverimageUrl }}" alt="">
        </div>
        <div class="game-info">
            <div class="game-img">
                <img src="{{ gameEntity.coverimageUrl }}" alt="">
            </div>
            <div class="game-info-text">
                <h1>{{ gameEntity.name }}</h1>
                <p>Sortie le <span class="blue">{{ gameEntity.publishedAt | date ('d F Y') }}</span></p>
                <p>Edité par <span class="green">{{ gameEntity.publisher.name }}</span></p>
                <p>Vendu pour <span class="green">{{ gameEntity.price }}€</span></p>
                <p>{{ gameEntity.description }}</p>
            </div>
        </div>
        <h3>Commentaires</h3>
        <div class="game-comments">
            {% for comment in gameEntity.comments %}
                <div class="comment">
                    <p><span class="green">{{ comment.author.username }}</span> {{ comment.createdAt | date ('d/m/Y') }}
                    </p>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

