<div class="games col-12 col-md-9">
    <h2>Trier :</h2>
    <div class="game-filters">
        <a href="{{ path('games-alpha-order') }}">Voir par ordre alphabétique</a>
        <a href="{{ path('games-price-order-asc') }}">Prix croissant</a>
        <a href="{{ path('games-price-order-desc') }}">Prix décroissant</a>
        <a href="{{ path('games-latest') }}">voir les plus récents</a>
        <a href="{{ path('games-comments') }}">Voir les plus commentés</a>
    </div>
    <div class="row my-2 g-3">
        {% for game in gameEntities %}
            <div class="col-lg-6">
                <div class="row game-card">
                    <div class="col-12 col-md-6 game-card-img p-0">
                        <img src="{{ game.coverimageUrl }}" alt="">
                    </div>
                    <div class=" col-12 col-md-6 game-card-info">
                        <h4>{{ game.name }}</h4>
                        <p class="blue">{{ game.publishedAt | date ('d F Y') }}</p>
                        <p class="blue">genre : {% for genre in game.genres %}{{ genre.name }}{% endfor %}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci distinctio et
                            molestias, officia perspiciatis.</p>
                        <span class="game-price">{{ game.price }}€</span>
                    </div>
                    <a href="{{ path('game', {'id': game.id}) }}"><img src="{{ asset('build/images/goto.png') }}" alt="" class="goto-logo"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>