{% extends 'base.html.twig' %}

{% block title %}Hello PublisherController!{% endblock %}

{% block body_class %}
    adminBody
{% endblock %}

{% block nav %}
    {% include('partials/nav.html.twig') with {
        'admin' : true,
        'admin_img' : asset('build/images/adminplay.png'),
    } %}
{% endblock %}
{% block body %}
    <div class="admin col-12 col-md-9">
        <div class="admin-header">
            <h1 class="">Liste des Editeurs</h1>
            <a href="{{ path('admin_publisher') }}">Ajouter un éditeur</a>
        </div>
        <div>
            {% embed ('partials/admin-table.html.twig') %}
                {% block table_header %}
                    <tr>
                        <th>Nom</th>
                        <th>Date de création</th>
                    </tr>
                {% endblock %}
                {% block table_body %}
                    {% for publisher in publishers %}
                        <tr>
                            <td>{{ publisher.name }}</td>
                            <td>{{ publisher.createdAt | date ('d F Y') }}</td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
