.adminBody{
  .admin{
    .admin-header{
      margin-block: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a{
        font-size: 1.3rem;
        text-decoration: none;
        color: white;
        padding: .5rem 1rem;
        background-color: #BC4358;
      }
    }
  }
}