.game {
  .game-banner-img{
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  .game-info{
    width: 100%;
    .game-img{
      width: 33%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    margin-block: 1rem;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid #4382BC;
    .game-info-text{
      width: 67%;
      display: flex;
      flex-direction: column;
    }
  }
  .game-comments{
    display: flex;
    gap: 2rem;
    .comment{
      padding: 1rem;
      background-color: #2D3552;
    }
  }
}