.user {
  .user-banner-img{
    text-align: center;
    border-bottom: 1px solid #43BC90;
    img{
      width: 20%;
    }
  }
  .user-games,.library{
    border-bottom: 1px solid #4382BC;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    .game{
      flex-basis: 49%;
      @include media-breakpoint-down(xl){
        flex-basis: 100%;
      }
      @include media-breakpoint-down(md){
        flex-direction: column;
        width: 100%;
      }
      width: 50%;
      display: flex;
      gap: 1rem;
      .game-img{
        width: 50%;
        @include media-breakpoint-down(md){
          width: 100%;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .game-infos{
        @include media-breakpoint-down(md){
          width: 100%;
          padding: 1rem;
        }
        width: 50%;
        display: flex;
        flex-direction: column;
        .played{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}