
.user-card {
  padding: 1rem;


  .card-bg {
    position: relative;
    &:hover {
      .goto-logo{
        display: initial;
      }
      border: 1px solid #43BC90;
    }
    border: 1px solid #2D3552;
    padding: 2rem;
    background-color: #2D3552;

    &:hover {
      border: 1px solid #43BC90;
    }

    .user-info, .user-game {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem;
    }

    .user-game {
      .nb-games,.nb-games-p {
        color: #4382BC;
        font-size: 8rem;
        margin: 0;
      }
      .nb-games-p{
        font-size: 4rem;
      }
    }

    .user-info {
      img {
        min-width: 90%;
      }
    }
  }
}

.game-card {
  @include media-breakpoint-down(md){
    flex-direction: column;
  }
  position: relative;
  border: 1px solid #2D3552;
  padding: 2rem;
  background-color: #2D3552;
  margin-inline: 1rem;
  &:hover {
    .goto-logo{
      display: initial;
    }
    border: 1px solid #43BC90;
  }
  .game-card-img {
    width: 50%;
    @include media-breakpoint-down(md){
     width: 100%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .game-card-info {
    display: flex;
    flex-direction: column;


    .game-price {
      font-size: 3rem;
      color: #43BC90;
    }
  }
}

.goto-logo{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.genre {
  display: flex;
  justify-content: center;
  p {
    font-size: 3rem;
  }
  .game-card-container{
    .game-card{
      margin: 0;
      padding: 0;
    }
  }
}

.game-card{
  margin: 0;
  flex-basis: 30%;
}