.form-control {
  background-color: #2D3552;
  border: none;
  color: white;

  &:focus {
    color: white;
    background-color: #2D3552;
    box-shadow: 1px 1px 14px 10px rgba(188, 67, 88, 0.85);
  }
}

label {
  font-size: 1.2rem;
}

#game_genres {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

textarea.form-control {
  min-height: 200px;
}

.validate-form {
  background-color: #43BC90;
  color: white;
  padding: 1rem;
  border: none;
  width: 8rem;
}

.flex-btn {
  display: flex;
  justify-content: center;
  gap: 2rem;

  .cancel-form {
    color: white;
    padding: 1rem;
    border: none;
    width: 8rem;

    background-color: #BC4358;
    text-decoration: none;
    text-align: center;
  }
}

.flash-notice {
  display: flex;
  justify-content: center;

  p {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #43BC90;
  }
}