
.my-nav{
  display: none;
  @include media-breakpoint-down(md){
    display: initial;
  }
}

.side-nav{
  position: sticky;
  top:0;
  background-color: #2D3552;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include media-breakpoint-down(md){
    display: none;
  }

  .side-nav-logo{
    text-align: center;
    padding: 2rem;
  }

  .side-nav-links{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      a{
        text-decoration: none;
        li{
          font-size: 1.2rem;
          color: white;
          padding: 1.5rem;
          border-top: 1px solid black;
          &:hover, &.active-link{
            border-top: 1px solid #43BC90;
            background: rgb(67,188,144);
            background: linear-gradient(180deg, rgba(67,188,144,0.258140756302521) 22%, rgba(67,188,144,0) 57%);
          }
        }
      }
    }
  }
}

.adminBody {
  .side-nav {
    .side-nav-links {
      ul {
        a {
          li {
            &:hover, &.active-link {
              border-top: 1px solid #BC4358;
              background: rgb(188,67,88);
              background: linear-gradient(180deg, rgba(188,67,88,0.6474964985994398) 22%, rgba(188,67,88,0) 57%);
            }
          }
        }
      }
    }
  }
}