
.table{
  color: white;
  thead{
    background-color: #BC4358;
  }
  tbody{
    border: none;
    tr{
      td{
        vertical-align: middle;
      }
    }
  }
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  color: white;
  background-color: #2D3552;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: white;
}

thead, tbody, tfoot, tr, td, th{
  border-style: none;
}