<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('scripts') }}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
            {% include ('partials/header.html.twig') %}
        {% endblock %}

            <div class="container-fluid">
                <div class="row">
                    {% block nav %}
                        {% include('partials/nav.html.twig') with {
                            admin: false,
                        }%}
                    {% endblock %}
                    {% block body %}

                    {% endblock %}
                </div>
            </div>

    </body>
</html>
