{% extends 'base.html.twig' %}

{% block title %}Hello PublisherController!{% endblock %}

{% block body_class %}
    adminBody
{% endblock %}

{% block nav %}
    {% include('partials/nav.html.twig') with {
        'admin' : true,
        'admin_img' : asset('build/images/adminplay.png'),
    } %}
{% endblock %}
{% block body %}
    <div class="admin col-12 col-md-9">
        <div class="admin-header">
            <h1 class="">Creation d'un jeu</h1>
            <a href="{{ path('admin_game') }}">Retour à la Liste</a>
        </div>
        <div>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-12 col-md-6">
                    {{ form_row(form.name) }}
                    {{ form_row(form.logoUrl) }}
                    {{ form_row(form.genres) }}
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            {{ form_row(form.price) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ form_row(form.publishedAt) }}
                        </div>
                    </div>
                    {{ form_row(form.coverimageUrl) }}
                    {{ form_row(form.publisher) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="flex-btn">
                <a href="{{ path('admin_game') }}" class="cancel-form">Annuler</a>
                <input type="submit" name="" id="" value="Valider" class="validate-form">
            </div>
            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

