{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body_class %}
    adminBody
{% endblock %}


{% block nav %}
    {% include('partials/nav.html.twig') with {
        'admin' : true,
        'admin_img' : asset('build/images/adminplay.png'),
    } %}
{% endblock %}
{% block body %}
    <div class="admin col-12 col-md-9">
        <div class="admin-header">
            <h1 class="">Liste des jeux</h1>
            <a href="{{ path('admin_add_game') }}">Ajouter un jeu</a>
        </div>
        {% embed ('partials/admin-table.html.twig') %}
            {% block table_header %}
                <tr>
                    <th>Nom</th>
                    <th>Genres</th>
                    <th>Prix</th>
                    <th>Editeur</th>
                    <th>Date de publication</th>
                    <th>Actions</th>
                </tr>
            {% endblock %}
            {% block table_body %}
                {% for game in games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>{% for genre in game.genres %}{{ genre.name }}{% endfor %}</td>
                        <td>{{ game.price }}€</td>
                        <td>{{ game.publisher.name }}</td>
                        <td>{{ game.publishedAt | date ('d F Y') }}</td>
                        <td><a href="{{ path('game', {'id': game.id}) }}"><img src="{{ asset('build/images/showbtn.png') }}" alt=""></a>
                            <a href="{{ path('admin_modify_game', {'id': game.id}) }}"><img src="{{ asset('build/images/modifybtn.png') }}" alt=""></a></td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
