<div class="users col-12 col-md-9">
    <h2>Trier :</h2>
    <div class="user-filters">
        <a href="{{ path('users-alpha') }}">Trier par ordre alphabétique</a>
        <a href="{{ path('users-games') }}">Trier par nombre de jeux</a>
        <p>les plus gros temps de jeu</p>
    </div>
    <div class="row my-2">
        {% for user in userEntities %}
            <div class="user-card col-lg-4">
                <div class="card-bg">
                    <div class="user-info">
                        <div class="user-logo">
                            <img src="{{ asset('build/images/user.png') }}" alt="">
                        </div>
                        <div>
                            <p>{{ user.username }}</p>
                            <a href="mailto:allan@drosalys.fr">{{ user.email }}</a>
                        </div>
                    </div>
                    <div class="user-game">
                        <p class="nb-games">{{ user.library.gameLibData | length | default('0') }}</p>
                        <p class="nb-games-p">Jeux</p>
                    </div>
                    <a href="{{ path('user', {'id': user.id}) }}"><img src="{{ asset('build/images/goto.png') }}" alt="" class="goto-logo"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>