{% extends 'base.html.twig' %}

{% block body %}
    <div class="user col-12 col-md-9 my-3">
        <div class="user-banner-img">
            <img src="{{ asset('build/images/user.png') }}" alt="">
            <h1>{{ userEntity.username }}</h1>
            <p>{{ userEntity.email }}</p>
        </div>
        <h3>Dernier jeux joués</h3>
        <div class="user-games">
            {% for game in userEntity.library.lastPlayedGame | slice (0,2) %}
                <div class="game">
                    <div class="game-img">
                        <img src="{{ game.game.coverimageUrl }}" alt="">
                    </div>
                    <div class="game-infos">
                        <h3 class="mt-3">{{ game.game.name }}</h3>
                        <p class="blue">{{ game.game.publishedAt | date ('d F Y') }}</p>
                        <p class="blue">genres : {% for genre in game.game.genres %}{{ genre.name }}{% endfor %}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim in, itaque laudantium quo
                            sequi veritatis.</p>
                        <div class="played">
                            <div>
                                <p class="blue">Temps de jeu :</p>
                                <p>{{ game.playedTime | date ('H') }}H</p>
                            </div>
                            <div>
                                <img src="{{ asset('build/images/installed.png') }}" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        <h3 class="mt-3">Bibliothèque</h3>
        <div class="library">
            {% for game in userEntity.library.gameLibData %}
                <div class="game">
                    <div class="game-img">
                        <img src="{{ game.game.coverimageUrl }}" alt="">
                    </div>
                    <div class="game-infos">
                        <h3>{{ game.game.name }}</h3>
                        <p class="blue">{{ game.game.publishedAt | date ('d F Y') }}</p>
                        <p class="blue">genres : {% for genre in game.game.genres %}{{ genre.name }}{% endfor %}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim in, itaque laudantium quo
                            sequi veritatis.</p>
                        <div class="played">
                            <div>
                                <p class="blue">Temps de jeu :</p>
                                <p>{{ game.playedTime | date ('H') }}H</p>
                            </div>
                            <div>
                                <img src="{{ asset('build/images/installed.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

